

    <!-- Display comments here -->
    <!-- <mat-list> -->
    @if (isLoadingResults) {
    <div class="example-loading-shade">
      <mat-spinner></mat-spinner>
    </div>
    } @if (feedback) {
    <div class="alert alert-{{ feedback.type }} m-2">
      {{ feedback.message }}
    </div>
    } @if(comments) {
    <!-- <mat-list-item
        *ngFor="let nestedComment of comments"
        style="margin-bottom: 10px"
      >
        <mat-card>
          <div mat-line>
            <small
              ><strong>{{ nestedComment.comment.author }}</strong> on
              {{ nestedComment.comment.date }}</small
            >
          </div>
          <div mat-line>{{ nestedComment.comment.text }}</div>
        </mat-card>
      </mat-list-item> -->
    <div class="comments">
      <app-comment
        *ngFor="let comment of comments"
        [comment]="comment"
      ></app-comment>
    </div>
    }
    <!-- </mat-list> -->

    <hr />
    <!-- Add comment form -->
    <div class="add-comment-form">
      <h3 style="font-weight: bold">Add a Comment</h3>
      <form>
        <mat-form-field style="width: 100%">
          <!-- <mat-label>Your Name</mat-label> -->
          <input
            matInput
            placeholder="Your Name"
            [(ngModel)]="newComment.author"
            name="author"
            required
          />
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <!-- <mat-label>Your Comment</mat-label> -->
          <textarea
            matInput
            placeholder="Your Comment"
            rows="2"
            [(ngModel)]="newComment.text"
            name="comment"
            required
          ></textarea>
        </mat-form-field>
        <button
          class="comment-submit"
          mat-raised-button
          color="primary"
          click="submitComment()"
        >
          Submit
        </button>
      </form>
    </div>