<!-- Add comment form -->
<mat-card style="margin-bottom: 30px">
  <mat-card-header style="display: block">
    <div
      class="comment-post-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="comment-post-meta">
        <div mat-card-avatar class="comment-author-avatar" mat-card-sm-image>
          @if (newComment.profile_url) {
          <img [src]="newComment.profile_url" />
          } @else {
          <img src="../../../assets/defaulut-avatar.jpg" />
          }
        </div>
        <div class="comment-author-time">
          <div class="comment-author">{{ newComment.author }}</div>
        </div>
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          *ngIf="!getCurrentUser()"
          (click)="login()"
        >
          <span>Login</span>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content style="padding-top: 0px; padding-left: 0px">
    <app-comment-form
      [parentId]="null"
      [placeHolderText]="'Your Comment on post..'"
      (result)="addComment($event)"
    ></app-comment-form>
  </mat-card-content>
</mat-card>

<!-- <hr /> -->

<!-- Display comments here -->
<!-- <mat-list> -->
@if (isLoadingResults || isSavingResults || isDeletingResults) {
<!-- <div class="example-loading-shade">
  <mat-spinner></mat-spinner>
</div> -->
<div class="loading-spinner">
  <div class="spinner"></div>
  @if (isLoadingResults) {
  <div class="loading-message">Loading...</div>
  } @if (isSavingResults) {
  <div class="loading-message">Saving...</div>
  } @if (isDeletingResults) {
  <div class="loading-message">Deleting...</div>
  }
</div>

} @if (feedback) {
<div class="alert alert-{{ feedback.type }} m-2">
  {{ feedback.message }}
</div>
} @if(comments) {
<!-- <mat-list-item
        *ngFor="let nestedComment of comments"
        style="margin-bottom: 10px"
      >
        <mat-card>
          <div mat-line>
            <small
              ><strong>{{ nestedComment.comment.author }}</strong> on
              {{ nestedComment.comment.date }}</small
            >
          </div>
          <div mat-line>{{ nestedComment.comment.text }}</div>
        </mat-card>
      </mat-list-item> -->
<div class="comments" style="margin-top: 20px; margin-bottom: 20px">
  <app-comment
    *ngFor="let comment of comments; trackBy: trackByFn"
    [comment]="comment"
    [currentUser]="getCurrentUser()"
    [isAdmin]="authService.isAdmin(authService.userGroups$ | async)"
    (result)="addComment($event)"
    (deleteComment)="deleteComment($event)"
  ></app-comment>
</div>
}
<!-- </mat-list> -->

<!-- <hr /> -->
<!-- Add comment form -->
<!-- <mat-card>
  <mat-card-header>
    <div class="comment-post-meta">
      <div mat-card-avatar class="comment-author-avatar" mat-card-sm-image>
        @if (newComment.profile_url) {
        <img [src]="newComment.profile_url" />
        } @else {
        <img src="../../../assets/defaulut-avatar.jpg" />
        }
      </div>
      <div class="comment-author-time">
        <div class="comment-author">{{ newComment.author }}</div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content style="padding-top: 16px">
    <app-comment-form [text]="newComment.text" (result)="addComment($event, sourceId)"></app-comment-form>
  </mat-card-content>
</mat-card> -->
