<mat-grid-list
  [cols]="cols"
  [rowHeight]="rowHeight"
  [ngClass]="{ 'handset-portrait': handsetPortrait }"
>
  <mat-grid-tile *ngFor="let courseWithTags of courses">
    <mat-card class="course-card mat-elevation-z7">
      <!-- <mat-card-header>
        <mat-card-title>{{ course.description }}</mat-card-title>
      </mat-card-header> -->

      <img
        mat-card-image
        [src]="courseWithTags.course.iconUrl"
        [routerLink]="['../courses', courseWithTags.course.courseUrl]"
      />

      <mat-card-content
        class="course-card-body"
        [routerLink]="['../courses', courseWithTags.course.courseUrl]"
      >
        <div class="card-course-title-text">
          {{ courseWithTags.course.description }}
        </div>
        <p class="course-description">
          {{ courseWithTags.course.longDescription }}
        </p>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 0.5rem;
          "
        >
          @if (courseWithTags.course.price > 0) {
          <span mat-line style="display: flex; margin-top: 5px">
            <h3 style="margin: 0; color: red"><strong>P</strong></h3>
            <img
              [src]="courseWithTags.course.courseListIcon"
              alt="Paid"
              width="20"
              height="20"
              style="width: 20px"
              *ngIf="courseWithTags.course.courseListIcon"
            />
          </span>
          }
          <button mat-flat-button class="total-lessons">
            <mat-icon>airplay</mat-icon>
            {{ courseWithTags.course.lessonsCount }} lessons
          </button>
          @if (courseWithTags.course.price > 0) {
          <span
            mat-line
            style="display: flex; flex-direction: row-reverse; margin-top: 5px"
          >
            <h3 style="margin: 0; color: red"><strong>P</strong></h3>
            <img
              [src]="courseWithTags.course.courseListIcon"
              alt="Paid"
              width="20"
              height="20"
              style="width: 20px"
              *ngIf="courseWithTags.course.courseListIcon"
            />
          </span>
          }
        </div>
      </mat-card-content>

      <mat-card-actions class="course-actions">
        <app-tag-list
          [tags]="courseWithTags.tags.slice(0, 1)"
          [btnHeight]="'30px'"
        ></app-tag-list>

        <div class="course-action-buttons">
          <button
            mat-button
            color="accent"
            *ngIf="
              (authService.isAuthenticated$ | async) &&
              authService.isAdmin(authService.userGroups$ | async)
            "
            [routerLink]="[
              '/courses/course-edit',
              courseWithTags.course.courseUrl
            ]"
            style="min-width: fit-content"
          >
            <!-- <small>EDIT POST</small> -->
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            color="warn"
            *ngIf="
              (authService.isAuthenticated$ | async) &&
              authService.isAdmin(authService.userGroups$ | async)
            "
            (click)="deleteCourse(courseWithTags.course.id)"
            style="min-width: fit-content"
          >
            <!-- <small>DELETE POST</small> -->
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <!-- <button
          mat-raised-button
          color="accent"
          *ngIf="
            (isAuthenticated$ | async) &&
            authService.isAdmin(userGroups$ | async)
          "
        >
          EDIT COURSE
        </button> -->
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
