<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">About</li>
</ol>
<div class="bootstrap-wrapper">
  <div class="container">
    <section class="about-section">
      <!-- <div class="container"> -->
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2" style="margin-bottom: 30px">
          <!-- Your photo -->
          <!-- <img
            src="https://s.gravatar.com/avatar/78b7529fba9fea752d845d768d54c033?s=80"
            alt="Your Photo"
            class="about-photo img-fluid"
          /> -->

          <div class="developer-container">
            <h2>Developed by</h2>
            <h1>Anuran Datta</h1>
            <h2 class="profession">Software Engineer</h2>
            <p>
              Passionate about building innovative software solutions. Welcome
              to my personal learning and knowledge sharing platform! I have
              almost 2 decade of corporate experiences on application software
              services with diverse software horizontals, verticals and Clients.
            </p>
            <div class="colors">
              <div id="blue" class="color-box"></div>
              <div id="green" class="color-box"></div>
              <div id="purple" class="color-box"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <div class="about-content">
            <h2>About LNG</h2>
            <p>
              LNG - The learning zone, is a knowledge sharing and learning
              platform being developed to share my technical as well as
              non-technical knowledge I aquired through different experiences in
              my career and life.
            </p>
            <!-- <p>
              Hi, my name is Anuran Datta. I am from Kolkata and 

              I liked the Serverless architectural pattern and concepts, so I
              started building this site/platform
            </p> -->
            <p>
              The site is built fully on the AWS Serverless echosystem. It is
              using Angular for SPA, Okta for 3rd party IP and Quarkus for
              cloud-native Java microservice, deployed as AWS Lambda. Other
              parts of the architecture depicted in diagram below.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <!-- Website Architecture Diagram -->
          <h2>Website Architecture Diagram</h2>
          <img
            src="../../assets/ServerlessSPAArchitecture.png"
            alt="Website Architecture Diagram"
            class="architecture-diagram img-fluid"
          />
        </div>
      </div>
      <!-- </div> -->
    </section>
  </div>
</div>
