<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">About</li>
</ol>
<div class="bootstrap-wrapper">
  <div class="container">
    <section class="about-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-md-2">
            <!-- Your photo -->
            <img
              src="https://s.gravatar.com/avatar/78b7529fba9fea752d845d768d54c033?s=80"
              alt="Your Photo"
              class="about-photo img-fluid"
            />
          </div>
          <div class="col-md-6 order-md-1">
            <div class="about-content">
              <h2>About LNG</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                gravida nulla a nunc tincidunt, nec tempor tortor sodales.
                Integer feugiat fringilla ligula, non fermentum ex dapibus et.
              </p>
              <p>
                Morbi quis sem ut tortor sodales lacinia. Quisque nec consequat
                purus. Nunc posuere, turpis non mollis eleifend, ipsum metus
                sodales leo, et interdum sapien metus ut metus.
              </p>
              <p>
                Fusce eget magna vitae velit vestibulum lacinia. Mauris in
                consequat mauris. Cras sit amet neque ut eros sodales
                vestibulum. Sed ullamcorper consectetur orci a venenatis. Nullam
                vehicula felis in quam scelerisque consectetur.
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12">
            <!-- Website Architecture Diagram -->
            <h2>Website Architecture Diagram</h2>
            <img
              src="../../assets/ServerlessSPAArchitecture.png"
              alt="Website Architecture Diagram"
              class="architecture-diagram img-fluid"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
