.container {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
}

.blogs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.blogs-title {
  text-align: center;
  margin-right: 15px;
  margin-bottom: 0; 
  // font-weight: bolder
}

.blogs-header h2 {
  font-size: 28px;
  // margin-bottom: 20px;
}


.comp-container {
  // display: block;
  // height: 550px;
  overflow: auto;
}

.all-posts {
  display: block;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  // height: 2000px;
  // overflow: scroll;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  // justify-content: space-evenly;
}

.all-categories {
  display: block;
}

.category-button {
  border-top-left-radius: 0; 
  border-bottom-left-radius: 30%; 
  // background-color: gold;
  // background-color: map-get($map: $theme , $key: $mat-accent);
}

.all-categories .category-button {
  margin-left: 10px;
  margin-bottom: 10px;
  // border-radius: 20%;
}

.posts {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // overflow: scroll;
  // height: 300px;
}

.post-card {
  display: flex;
  width: calc(100% - 20px); //calc(33.33% - 20px);
  margin: 10px;
}

.post-actions {
  display: flex;
  // justify-content: center;
}

.post-actions button {
  margin-right: 5px;
}

.card-header {
  align-items: center;
  cursor: pointer;
}

.card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.post-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image stays within the rounded border */
  background-color: #ccc;
  // margin-right: 10px;
  margin: 0;
}

.post-message-avatar {
  width: 112px;
  height: 112px;
}

.post-avatar img {
  width: 100%;
  height: auto;
}

.post-date {
  margin-left: 5px;
  margin-right: 5px;
}

.post-reading-time {
  margin-left: 8px;
  color: #666;
  cursor: pointer;
  // width: -webkit-fill-available;
  margin-right: 10px;
}

.post-action-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.post-action-buttons button {
  height: 25px;
  padding: 0px 5px;
}



@media (max-width: 768px) {
  // .post-card {
  //   width: calc(50% - 20px);
  // }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .all-posts {
    width: 100%;
  }
  .category-container {
    width: 100%;
    // display: flex;
    // flex-direction: row;
  }
}

// @media (max-width: 480px) {
//   .post-card {
//     width: calc(100% - 20px);
//   }
// }
