@if (isDeletingResults) {
<!-- <div class="example-loading-shade">
          <mat-spinner></mat-spinner>
        </div> -->
<div class="loading-spinner">
  <div class="spinner"></div>
  <div class="loading-message">Deleting...</div>
</div>
} @if (feedback) {
<div class="alert alert-{{ feedback.type }} m-2">
  {{ feedback.message }}
</div>
}
<mat-card class="post-card" *ngFor="let postWithTags of postWithTagsList">
  <mat-card-header class="card-header" (click)="openPost(postWithTags.post.id)">
    <div mat-card-avatar class="post-avatar" mat-card-sm-image>
      @if (postWithTags.post.author.startsWith("Anuran")) {
      <img
        src="https://s.gravatar.com/avatar/78b7529fba9fea752d845d768d54c033?s=80"
      />
      }
    </div>

    <span class="post-date"
      ><strong>{{ postWithTags.post.author }}</strong></span
    >
    <span><small>-</small></span>
    <span class="post-date">{{
      blogUtil.formatDate(postWithTags.post.date)
    }}</span>
  </mat-card-header>
  <mat-card-content
    class="card-content"
    (click)="openPost(postWithTags.post.id)"
  >
    <div class="post-message">
      <mat-card-title>{{ postWithTags.post.title }}</mat-card-title>
      <mat-card-subtitle
        ><p>{{ postWithTags.post.description }}</p></mat-card-subtitle
      >
    </div>
    @if (postWithTags.post.avatar_image_url) {
    <div class="post-message-avatar">
      <img mat-card-md-image src="{{ postWithTags.post.avatar_image_url }}" />
    </div>
    }
  </mat-card-content>
  <mat-card-actions class="post-actions">
    <!-- <button mat-button>Read More</button> -->

    <span class="post-reading-time" (click)="openPost(postWithTags.post.id)"
      >{{ blogUtil.calculateReadingTime(postWithTags.post.content) }} min
      read</span
    >
    <!-- <button
      mat-flat-button
      color="accent"
      class="category-button"
      style="height: 25px"
    >
      <small>Programming</small>
    </button> -->
    <app-tag-list
      [tags]="postWithTags.tags.slice(0, 1)"
      [btnHeight]="'25px'"
    ></app-tag-list>
    <!-- <div class="post-action-buttons" style="padding: 5px; width: 100%;justify-content: space-evenly;"> -->
    <div class="post-action-buttons">
      <button
        mat-button
        (click)="likePost(postWithTags.post.id)"
        style="min-width: fit-content"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button
        mat-button
        (click)="bookmarkPost(postWithTags.post.id)"
        style="min-width: fit-content"
      >
        <mat-icon>bookmark</mat-icon>
      </button>

      <button
        mat-button
        color="accent"
        *ngIf="
          (authService.isAuthenticated$ | async) &&
          authService.isAdmin(authService.userGroups$ | async)
        "
        [routerLink]="['/blogs/blog-edit', postWithTags.post.id]"
        style="min-width: fit-content"
      >
        <!-- <small>EDIT POST</small> -->
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="
          (authService.isAuthenticated$ | async) &&
          authService.isAdmin(authService.userGroups$ | async)
        "
        (click)="deletePost(postWithTags.post.id)"
        style="min-width: fit-content"
      >
        <!-- <small>DELETE POST</small> -->
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
