<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="../../../blogs">Blogs</a></li>
  <li class="breadcrumb-item active">Blog-Edit</li>
</ol>

<div class="container">
  @if (isLoadingResults || isSavingResults) {
  <!-- <div class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div> -->
  <div class="loading-spinner">
    <div class="spinner"></div>
    @if (isSavingResults) {
    <div class="loading-message">Saving...</div>
    } @else {
    <div class="loading-message">Loading...</div>
    }
  </div>
  } @if (feedback) {
  <div class="alert alert-{{ feedback.type }} m-2">
    {{ feedback.message }}
  </div>
  } @if (post) {
  <form #ef="ngForm" class="blogs-edit-form">
    <mat-form-field>
      <label for="title" class="field-label">Title*</label>
      <input
        [(ngModel)]="post.title"
        id="title"
        name="title"
        matInput
        placeholder="Blog title"
        maxlength="150"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <label for="description" class="field-label">Description</label>
      <textarea
        [(ngModel)]="post.description"
        id="description"
        name="description"
        type="textarea"
        matInput
        placeholder="Blog description"
        maxLength="500"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <label for="avatarImg" class="field-label">Avatar image URL</label>
      <input
        [(ngModel)]="post.avatar_image_url"
        id="avatarImg"
        name="avatarImg"
        matInput
        placeholder="Blog Avatar Image Url"
      />
    </mat-form-field>
    <app-ngxeditor
      [content]="post.content"
      class="blog-post-content"
    ></app-ngxeditor>

    <mat-form-field class="chip-list">
      <mat-label>Post Tags</mat-label>
      <mat-chip-grid #chipGrid aria-label="Tag selection">
        @for (tag of tags; track tag) {
        <mat-chip-row (removed)="remove(tag)" [style.backgroundColor]="'gold'">
          {{ tag.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="New Tag..."
        #tagInput
        [formControl]="tagCtrl"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        @for (tag of filteredTags$ | async; track tag) {
        <mat-option [value]="tag">{{ tag.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <div class="button-group">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!ef?.form.valid"
        class="blogs-save-button"
        (click)="save()"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="secondary"
        class="blogs-cancel-button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
  }
</div>
<!-- <button class="scroll-top-button" *ngIf="isShow" (click)="gotoTop()">👆</button> -->
<!-- <app-scroll-top-button></app-scroll-top-button> -->
