<div class="receipt-container">
  <div class="receipt-title-area">
    <h1 class="heading-xxxl">Payment successfull</h1>
  </div>
  <div class="receipt-display-area">
    <div class="receipt-item-list">
      <h3 class="heading-md">
        <span>Thanks for your order. Your reciept:</span>
      </h3>
      <div class="empty-shopping-cart">
        <p class="empty-shopping-cart-message">
          <span>[Receipt ID: {{ receiptId }}]</span>
        </p>
        <a
          mat-flat-button
          color="primary"
          [routerLink]="['../../', 'courses']"
          class="cart-checkout-button empty-shopping-cart-button heading-md"
          ><span>Keep shopping</span></a
        >
      </div>
    </div>
  </div>
</div>
