.courses-panel {
  max-width: 460px;
  margin: 0 auto;
}

.courses-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.courses-header h2 {
  font-size: 28px;
  
}

h2 {
  font-family: "Roboto";
}

.courses-title {
  text-align: center;
  margin-right: 15px;
  margin-bottom: 0
}
