@if (title == null) {
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Courses</li>
</ol>
} @if (isLoadingResults || isLoadingTags) {
<div class="loading-spinner">
  <div class="spinner"></div>
  <div class="loading-message">Loading...</div>
</div>
}
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="courses-panel">
      <div class="courses-header">
        <h2 [ngClass]="{ 'courses-title': title == null }">
          {{ title == null ? "All Courses" : title }}
        </h2>
        <button
          mat-mini-fab
          routerLink="/courses/course-edit/new"
          [matTooltip]="'Create a course'"
          matTooltipPosition="above"
          [matTooltipShowDelay]="1000"
          [matTooltipHideDelay]="2000"
          [matTooltipDisabled]="true"
          *ngIf="
            (isAuthenticated$ | async) &&
            authService.isAdmin(userGroups$ | async)
          "
        >
          <mat-icon class="add-course-button">add</mat-icon>
        </button>
      </div>
    </div>
    @if (title == null) {

    <div style="display: flex">
      <app-tag-list [tags]="fetchedTags"></app-tag-list>
      <!-- </div> -->
      <a
        [routerLink]="['/tags']"
        style="text-decoration: none; width: fit-content; margin: 0 10px"
      >
        <H4 style="margin: 10px"> See more topics </H4>
      </a>
    </div>
    <section class="filter-section">
      <mat-checkbox
        class="checkbox-margin"
        [(ngModel)]="findFree"
        (change)="findAndMapCourses()"
        >Free Courses</mat-checkbox
      >
    </section>
    }
    <mat-tab-group>
      <mat-tab label="Beginners">
        <app-courses-card-list
          [courses]="beginnerCourses$ | async"
          [colsInput]="title ? 1 : 2"
        >
        </app-courses-card-list>
      </mat-tab>
      <mat-tab label="Advanced">
        <app-courses-card-list
          [courses]="advancedCourses$ | async"
          [colsInput]="title ? 1 : 2"
        >
        </app-courses-card-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
