<!-- <div class="toolbar">
  @if (isAuthenticated$ | async) {
  <div>
    <nav class="routes">
      <a routerLink="/">Home</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/protected">Protected</a>
    </nav>
  </div>
  <a class="auth" (click)="signOut()">Sign out</a>
  } @else {
  <a class="auth" (click)="signIn()">Sign in</a>
  }
</div>

<p>Learn more about Okta at <a href="https://developer.okta.com">developer.okta.com</a></p>

<router-outlet></router-outlet> -->

<mat-sidenav-container
  fullscreen
  style="height: min-content"
  [ngClass]="{
    'handset-portrait': handsetPortrait,
    'hide-general-menu': hideGeneralMenu
  }"
>
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list (click)="sidenav.close()">
      <a
        mat-list-item
        routerLink="courses"
        routerLinkActive="active"
        class="general-menu"
      >
        <mat-icon mat-list-icon>library_books</mat-icon>
        <span mat-line>Courses</span>
      </a>

      <a
        mat-list-item
        routerLink="blogs"
        routerLinkActive="active"
        class="general-menu"
      >
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a
        mat-list-item
        routerLink="notes"
        routerLinkActive="active"
        class="general-menu"
      >
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a
        mat-list-item
        routerLink="tags"
        routerLinkActive="active"
        class="general-menu"
      >
        <mat-icon>topic</mat-icon>
        <span>Topics</span>

        <!-- <button mat-icon-button (click)="toggleSubMenu($event)">
          <mat-icon>{{
            isSubMenuOpen ? "expand_less" : "expand_more"
          }}</mat-icon>
        </button>

        <mat-nav-list>
          <a mat-list-item routerLink="all-topics" routerLinkActive="active">
            <mat-icon mat-list-icon>settings</mat-icon>
            <span mat-line>All Topics</span>
          </a>
          <mat-list-item>
            <mat-icon mat-list-icon>notifications</mat-icon>
            <span mat-line>Notifications</span>
          </mat-list-item>
        </mat-nav-list> -->
      </a>

      <a
        mat-list-item
        routerLink="about"
        routerLinkActive="active"
        class="general-menu"
      >
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button
      *ngIf="handsetPortrait"
      mat-icon-button
      color="accent"
      (click)="sidenav.open()"
      style="height: 42px"
      class="general-menu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <a
      mat-raised-button
      routerLink="home"
      style="
        background-image: url('../assets/pexels-pixabay-247819.jpg');
        margin-right: 10px;
      "
      >LNG</a
    >

    <div class="left-toolbar">
      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="courses"
        routerLinkActive="active"
        class="toolbar-button general-menu"
      >
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="blogs"
        routerLinkActive="active"
        class="toolbar-button general-menu"
      >
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        [matMenuTriggerFor]="dropdown"
        routerLinkActive="active"
        class="toolbar-button general-menu"
      >
        <mat-icon>topic</mat-icon>
        <span>Topics</span>
      </a>

      <mat-menu #dropdown>
        <div class="menu-panel">
          <button mat-menu-item routerLink="tags" routerLinkActive="active">
            All Topics
          </button>

          <!-- <button mat-menu-item routerLink="blogs">Blogs</button>

        <button mat-menu-item routerLink="notes">Notes</button>
        <button mat-menu-item routerLink="about">About</button> -->
        </div>
      </mat-menu>
      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="notes"
        routerLinkActive="active"
        class="toolbar-button general-menu"
      >
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="about"
        routerLinkActive="active"
        class="toolbar-button general-menu"
      >
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </div>
    <div class="right-toolbar">
      <!-- <a mat-button routerLink="about"
        ><mat-icon>question_answer</mat-icon>About</a
      > -->

      <!-- <svg
        aria-label="Shopping cart with 0 items"
        role="img"
        focusable="false"
        class="ud-icon ud-icon-medium ud-icon-color-neutral"
      >
        <use xlink:href="#icon-cart"></use>
      </svg> -->

      <a [routerLink]="['/cart']" class="cart general-menu">
        @if(cart?.items.length > 0) {

        <span class="cartCounter">{{ cart?.items.length }}</span>
        }
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-cart"
          viewBox="0 1 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
          />
        </svg> -->

        <!-- @if(cart?.items.length > 0) { -->
        <mat-icon>shopping_cart</mat-icon>
        <!-- } @else {
          <mat-icon>add_shopping_cart</mat-icon>
        } -->
      </a>
      <a
        mat-button
        *ngIf="!(isAuthenticated$ | async)"
        (click)="signIn()"
        class="general-menu"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Login/Register</span>
      </a>
      <a
        mat-button
        *ngIf="isAuthenticated$ | async"
        (click)="signOut()"
        class="general-menu"
      >
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet
      ><div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
        <div class="loading-message">Loading...</div>
      </div>
    </router-outlet>
  </div>
  <div class="footer">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="footer-center-row">
          <div class="footer-left-col">
            <h4>
              <span class="left-col-text-span"
                >ad-lngdev.online - © 2024 All Rights Reserved</span
              >
            </h4>
            <h4>
              <span
                class="left-col-text-span"
                style="margin-right: 5px; cursor: pointer"
              >
                Policy
              </span>
              |
              <span
                class="left-col-text-span"
                style="margin-left: 5px; cursor: pointer"
              >
                Terms & Conditions</span
              >
            </h4>
          </div>
          <div class="footer-right-col">
            <!-- <h2>Social Icons</h2> -->
            <!-- <mat-icon svgIcon="youtubeIcon" color="accent"></mat-icon> -->
            <a
              href="https://www.youtube.com/@anurandatta4692"
              target="_blank"
              style="color: inherit"
            >
              <svg class="icon">
                <use xlink:href="assets/icons/icons.svg#youtubeSqIcon"></use>
              </svg>
            </a>
            <a
              href="https://www.facebook.com/anuran.datta"
              target="_blank"
              style="color: inherit"
            >
              <svg class="icon">
                <use xlink:href="assets/icons/icons.svg#facebookSqIcon"></use>
              </svg>
            </a>
            <a
              href="https://x.com/anuran4u"
              target="_blank"
              style="color: inherit"
            >
              <svg class="icon">
                <use xlink:href="assets/icons/icons.svg#twitterSqIcon"></use>
              </svg>
            </a>
            <a
              href="https://github.com/anurdatt"
              target="_blank"
              style="color: inherit"
            >
              <svg class="icon">
                <use xlink:href="assets/icons/icons.svg#githubSqIcon"></use>
              </svg>
            </a>
            <a
              href="https://www.linkedin.com/in/anuran-datta-5244901b"
              target="_blank"
              style="color: inherit"
            >
              <svg class="icon">
                <use xlink:href="assets/icons/icons.svg#linkedinIcon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
