:host {
  font-family: sans-serif;
}

a,
a:visited,
a:hover {
  color: #095661;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.routes,
.routes > a + a {
  margin-left: 1rem;
}

.auth {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px 8px;

  &:hover {
    background-color: #2d8c9e;
    color: #fff;
  }
}

p {
  margin: 6rem;
  text-align: center;
  font-size: large;
}

body {
  margin: 0;
}

main {
  margin: 30px;
}

// mat-toolbar {
//   // position: fixed;
//   // width: calc(100% - 15px);
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: 10;
//   box-shadow: 0 2px 5px #0000004d;
// }

.sidenav-container {
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;

  position: relative;
  height: 100%;
}

.sidenav {
  background-color: gold;
  // margin-top: -8px;
  // margin-bottom: -8px;
  // padding-top: -8px;
  // padding-bottom: -8px;
  padding: 20px;
  border-radius: 5px;
  z-index: 99;
  position: fixed;
  top: 74px;
  left: 10px;
  // bottom: 0;
  height: 500px;
  width: 200px; /* Adjust width as needed */
  // z-index: 1000; /* Adjust z-index as needed */
}

mat-toolbar a {
  color: gold;
}

.toolbar-button {
  margin: 0 10px 0 0;
  padding: 10px;
  // height: 42px;
}

.left-toolbar {
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  // right: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px #0000004d;
  height: 74px;
}
.right-toolbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.active {
  background-color: #4d037a; /* Change to desired active state background color */
  // color: blue; /* Change to desired active state text color */
}

.menu-panel {
  background-color: gold;
  height: 100%;
  // padding-top: 0px;
  // padding-bottom: 0px !important;
  // border-style: dotted;
  margin-top: -8px;
  margin-bottom: -8px;
  // padding-top: -8px;
}
// .mat-menu-context {
//   padding-top: 0px !important;
//   padding-bottom: 0px !important;
// }

.main-content {
  padding-top: 74px; /* Adjust padding to match the toolbar height */
  /* Other styles for main content */
}
