<!-- <div class="toolbar">
  @if (isAuthenticated$ | async) {
  <div>
    <nav class="routes">
      <a routerLink="/">Home</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/protected">Protected</a>
    </nav>
  </div>
  <a class="auth" (click)="signOut()">Sign out</a>
  } @else {
  <a class="auth" (click)="signIn()">Sign in</a>
  }
</div>

<p>Learn more about Okta at <a href="https://developer.okta.com">developer.okta.com</a></p>

<router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen style="height: min-content; top: 64px">
  <mat-sidenav #sidenav style="background-color: gold">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="courses">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-list-item routerLink="blogs">
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a mat-list-item routerLink="notes">
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a mat-list-item routerLink="all-topics">
        <mat-icon>topic</mat-icon>
        <span>Topics</span>
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button
      *ngIf="handsetPortrait"
      mat-icon-button
      color="accent"
      (click)="sidenav.open()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <a
      mat-raised-button
      routerLink="home"
      style="
        background-image: url('../assets/pexels-pixabay-247819.jpg');
        margin-right: 10px;
      "
      >LNG</a
    >

    <div>
      <a mat-button *ngIf="!handsetPortrait" routerLink="courses">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-button *ngIf="!handsetPortrait" routerLink="blogs">
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a mat-button *ngIf="!handsetPortrait" [matMenuTriggerFor]="dropdown">
        <mat-icon>topic</mat-icon>
        <span>Topics</span>
      </a>

      <mat-menu #dropdown>
        <div class="menu-panel">
          <button mat-menu-item routerLink="all-topics">All Topics</button>

          <!-- <button mat-menu-item routerLink="blogs">Blogs</button>

        <button mat-menu-item routerLink="notes">Notes</button>
        <button mat-menu-item routerLink="about">About</button> -->
        </div>
      </mat-menu>
      <a mat-button *ngIf="!handsetPortrait" routerLink="notes">
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a mat-button *ngIf="!handsetPortrait" routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </div>
    <div class="right-of-toolbar">
      <!-- <a mat-button routerLink="about"
        ><mat-icon>question_answer</mat-icon>About</a
      > -->
      <a mat-button *ngIf="!(isAuthenticated$ | async)" (click)="signIn()">
        <mat-icon>account_circle</mat-icon>
        <span>Login/Register</span>
      </a>
      <a mat-button *ngIf="isAuthenticated$ | async" (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </mat-toolbar>

  <router-outlet
    ><div *ngIf="loading" class="loading-spinner">
      <div class="spinner"></div>
      <div class="loading-message">Loading...</div>
    </div>
  </router-outlet>
</mat-sidenav-container>
