<!-- <div class="toolbar">
  @if (isAuthenticated$ | async) {
  <div>
    <nav class="routes">
      <a routerLink="/">Home</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/protected">Protected</a>
    </nav>
  </div>
  <a class="auth" (click)="signOut()">Sign out</a>
  } @else {
  <a class="auth" (click)="signIn()">Sign in</a>
  }
</div>

<p>Learn more about Okta at <a href="https://developer.okta.com">developer.okta.com</a></p>

<router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen style="height: min-content">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="courses" routerLinkActive="active">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <span mat-line>Courses</span>
      </a>

      <a mat-list-item routerLink="blogs" routerLinkActive="active">
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a mat-list-item routerLink="notes" routerLinkActive="active">
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a mat-list-item routerLink="all-topics" routerLinkActive="active">
        <mat-icon>topic</mat-icon>
        <span>Topics</span>

        <!-- <button mat-icon-button (click)="toggleSubMenu($event)">
          <mat-icon>{{
            isSubMenuOpen ? "expand_less" : "expand_more"
          }}</mat-icon>
        </button>

        <mat-nav-list>
          <a mat-list-item routerLink="all-topics" routerLinkActive="active">
            <mat-icon mat-list-icon>settings</mat-icon>
            <span mat-line>All Topics</span>
          </a>
          <mat-list-item>
            <mat-icon mat-list-icon>notifications</mat-icon>
            <span mat-line>Notifications</span>
          </mat-list-item>
        </mat-nav-list> -->
      </a>

      <a mat-list-item routerLink="about" routerLinkActive="active">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button
      *ngIf="handsetPortrait"
      mat-icon-button
      color="accent"
      (click)="sidenav.open()"
      style="height: 42px"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <a
      mat-raised-button
      routerLink="home"
      style="
        background-image: url('../assets/pexels-pixabay-247819.jpg');
        margin-right: 10px;
      "
      >LNG</a
    >

    <div class="left-toolbar">
      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="courses"
        routerLinkActive="active"
        class="toolbar-button"
      >
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="blogs"
        routerLinkActive="active"
        class="toolbar-button"
      >
        <mat-icon>newspaper</mat-icon>
        <span>Blogs</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        [matMenuTriggerFor]="dropdown"
        routerLinkActive="active"
        class="toolbar-button"
      >
        <mat-icon>topic</mat-icon>
        <span>Topics</span>
      </a>

      <mat-menu #dropdown>
        <div class="menu-panel">
          <button
            mat-menu-item
            routerLink="all-topics"
            routerLinkActive="active"
          >
            All Topics
          </button>

          <!-- <button mat-menu-item routerLink="blogs">Blogs</button>

        <button mat-menu-item routerLink="notes">Notes</button>
        <button mat-menu-item routerLink="about">About</button> -->
        </div>
      </mat-menu>
      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="notes"
        routerLinkActive="active"
        class="toolbar-button"
      >
        <mat-icon>event_note</mat-icon>
        <span>Notes</span>
      </a>

      <a
        mat-button
        *ngIf="!handsetPortrait"
        routerLink="about"
        routerLinkActive="active"
        class="toolbar-button"
      >
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </div>
    <div class="right-toolbar">
      <!-- <a mat-button routerLink="about"
        ><mat-icon>question_answer</mat-icon>About</a
      > -->
      <a mat-button *ngIf="!(isAuthenticated$ | async)" (click)="signIn()">
        <mat-icon>account_circle</mat-icon>
        <span>Login/Register</span>
      </a>
      <a mat-button *ngIf="isAuthenticated$ | async" (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet
      ><div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
        <div class="loading-message">Loading...</div>
      </div>
    </router-outlet>
  </div>
</mat-sidenav-container>
