.lesson-title {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lesson-course-properties {
  display: flex;
  flex-direction: row;
}

.lesson-comments {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
}

.lesson-properties {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // border: 1px dotted;
  // height: 80px;
}

.lesson-card {
  margin-bottom: 30px;
  // max-width: 680px;
  // width: 100%;
  box-shadow: none;
  // background-color: snow;
  padding: 0;
}

.lesson-card-header {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lesson-meta-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.lesson-meta {
  display: flex;
  flex-direction: row;
  // align-items: center;
  margin-top: 20px; //8px;
  margin-bottom: 20px;
  // font-size: smaller;
  // font-style: italic;
}

.course-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 0;
  overflow: hidden; /* Ensure the image stays within the rounded border */
}

.course-author-avatar img {
  width: 100%;
  height: auto;
}

.course-author-time {
  display: block;
  margin-left: 10px;
}

.course-author-time .course-time {
  font-size: small;
  // font-weight: lighter;
}

.course-date {
  margin-left: 5px;
  margin-right: 5px;
}

.lesson-actions {
  // margin-bottom: 30px;
  position: relative; /* Added for positioning fade lines */
}

.actions-line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: 10px;
  justify-content: space-between;
}
.action-line-left {
  justify-items: left;
  // width: 50%;
}
.action-line-right {
  justify-items: right;
  // width: 50%;
}

.actions-line button {
  height: 30px;
  min-width: fit-content;
  margin-right: 15px;
}

.actions-line mat-icon {
  margin-right: 5px;
}

.action-count small {
  margin-right: 15px;
}

.mat-icon {
  font-size: 18px; /* Adjust the font size as needed */
  opacity: 0.7; /* Adjust the opacity to make it lighter */
  height: 18px;
  width: 18px;
  line-height: 16px;
}

.actions-fade-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
}

.post-reading-time {
  // margin-left: 5px;
  margin-right: 5px;
  // color: #666;
  // cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
  // height: 100px;
}

.course-properties {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
}

.related-course {
  display: flex;
  flex-direction: column;
  border: 1px dotted;
  height: 180px;
}
