.lesson-title {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lesson-course-properties {
  display: flex;
  flex-direction: row;
}

.lesson-comments {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
}

.lesson-properties {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // border: 1px dotted;
  // height: 80px;
}

.lesson-card {
  margin-bottom: 30px;
  // max-width: 680px;
  // width: 100%;
  box-shadow: none;
  // background-color: snow;
  padding: 0;
}

.lesson-card-header {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lesson-meta-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.lesson-meta {
  display: flex;
  flex-direction: row;
  // align-items: center;
  margin-top: 20px; //8px;
  margin-bottom: 20px;
  // font-size: smaller;
  // font-style: italic;
}

.course-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 0;
  overflow: hidden; /* Ensure the image stays within the rounded border */
}

.course-author-avatar img {
  width: 100%;
  height: auto;
}

.course-author-time {
  display: block;
  margin-left: 10px;
}

.course-author-time .course-time {
  font-size: small;
  // font-weight: lighter;
}

.course-date {
  margin-left: 5px;
  margin-right: 5px;
}

.lesson-actions {
  // margin-bottom: 30px;
  position: relative; /* Added for positioning fade lines */
}

.actions-line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: 10px;
  justify-content: space-between;
}
.action-line-left {
  justify-items: left;
  // width: 50%;
}
.action-line-right {
  justify-items: right;
  // width: 50%;
}

.actions-line button {
  height: 30px;
  min-width: fit-content;
  margin-right: 15px;
}

.actions-line mat-icon {
  margin-right: 5px;
}

.action-count small {
  margin-right: 15px;
}

.mat-icon {
  font-size: 18px; /* Adjust the font size as needed */
  opacity: 0.7; /* Adjust the opacity to make it lighter */
  height: 18px;
  width: 18px;
  line-height: 16px;
}

.actions-fade-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
}

.post-reading-time {
  // margin-left: 5px;
  margin-right: 5px;
  // color: #666;
  // cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
  // height: 100px;
}

.course-properties {
  display: flex;
  flex-direction: column;
  // border: 1px dotted;
}

.related-course {
  display: flex;
  flex-direction: column;
  border: 1px dotted;
  height: 180px;
}

.video-container-div {
  align-items: justify;
}

.course-title {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  padding: 0 10px;
}

.playlist-div {
  padding: 20px 0;
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 100%;
}

.playlist-body-div {
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.playlist-div h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.playlist-div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.playlist-div li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.playlist-div li:hover {
  background-color: #e0e0e0;
}

.playlist-div .selected {
  background-color: #c4a6dcf5;
}

.controls {
  position: relative;
  /* bottom: 20px;
  left: 80px; */
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  /* padding: 10px; */
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.control-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 480px) {
  // .playlist {
  //   width: 100%; /*calc(100% - 20px); */
  // }
  // .video-container {
  //   width: 100%;
  // }

  // .player-container {
  //   flex-direction: column;
  // }

  .player-container-div {
    flex-direction: column;
  }
}
