.video-container .video-js {
  border-radius: 10px; /* Adjust the value to control the roundness */
  overflow: hidden; /* Ensure content doesn't overflow rounded corners */
}

.custom-context-menu {
  display: none;
  position: absolute;
  background-color: rgb(203, 239, 189);
  // border: 1px solid #0413dd;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  min-height: 100px;
}

.custom-context-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-context-menu li:hover {
  background-color: #eee;
}
