<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">All-Topics</li>
</ol>

<!-- <div class="bootstrap-wrapper">
  <div class="container"> -->
<div
  class="topics-container"
  style="
    display: -webkit-box;
    /* display: ruby; */
    justify-content: space-around;
    padding: 10px 10px 10px 0px;
  "
>
  @if (isLoadingResults) {
  <!-- <div class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div> -->
  <div class="loading-spinner">
    <div class="spinner"></div>
    <div class="loading-message">Loading...</div>
  </div>
  }

  <div
    style="/* width: 25%; */ min-width: fit-content; margin-right: 10px"
    [ngStyle]="
       // {
    //   display:
    //     scrollingDiv.querySelector('app-tag-list').scrollWidth < 0
    //       ? 'none'
    //       : 'block'
    // }
    "
  >
    <!-- <H3 style="margin: 10px; line-height: 1.2; padding: 0px 10px"
      >All topics:</H3
    > -->
    <app-tag-list
      [tags]="[{ id: 'all-topics', name: 'All topics' }]"
      [btnBorderBottom]="!selectedTagId"
      style="margin-right: 5px"
    ></app-tag-list>
  </div>
  <div
    style="
      /* padding-right: 10px; */
      /* width: 75%; */
      max-width: 65%;
      white-space: nowrap;
      overflow-x: scroll;
    "
    #scrollingDiv
  >
    <!-- <div class="all-topics"> -->
    <app-tag-list
      [tags]="fetchedTags"
      [btnBorderBottomId]="selectedTagId"
      style="margin-right: 5px"
    ></app-tag-list>
    <!-- </div> -->
  </div>
</div>
<!-- </div>
</div> -->
