.topics-container {
  display: block;
  flex-direction: column;
  width: 100%;
  // justify-content: space-evenly;
}

// .all-topics {
//   display: block;
// }

// .all-topics .topic-button {
//   margin-left: 10px;
//   margin-bottom: 10px;
//   // border-radius: 20%;
// }
