<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">All-Topics</li>
</ol>

<!-- <div class="bootstrap-wrapper">
  <div class="container"> -->
<div
  class="topics-container"
  style="
    /* display: -webkit-box; */
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-direction: row;
    align-items: center;
  "
>
  @if (isLoadingResults) {
  <!-- <div class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div> -->
  <div class="loading-spinner">
    <div class="spinner"></div>
    <div class="loading-message">Loading...</div>
  </div>
  }

  
  <div style="display: flex; margin-bottom: 10px; margin-top: -30px; padding: 0 15px; position: absolute; z-index: 20; width: -webkit-fill-available;">
    <a mat-mini-fab color="primary" (click)="scroll(-100)" *ngIf="tagListDivScrollLeftAllowed" style="position: absolute; left: 15px;"><</a>
    <a mat-mini-fab color="primary" (click)="scroll(100)" *ngIf="tagListDivScrollRightAllowed" style="position: absolute; right: 15px;">></a>
  </div>
  <!-- <div
    style="width: fit-content; min-width: fit-content; margin-bottom: 15px; position: absolute;"
    [ngStyle]="
       {
      display: (scrollingDivX > 20 ? 'none': 'block')
    }
    "
  >
    <app-tag-list
      [tags]="[{ id: 'all-topics', name: 'All topics' }]"
      [btnBorderBottom]="!selectedTagId"
    ></app-tag-list>
  </div> -->
  <div
    style="
      /* padding-right: 10px; */
      /* padding-left: 125px; */
      width: -webkit-fill-available;
      /* max-width: 65%; */
      white-space: nowrap;
      overflow-x: scroll;
      scrollbar-width: none;
    "
    id="scrollingDiv"
  >
    <!-- <div class="all-topics"> -->
    <app-tag-list
      [tags]="[{ id: 'all-topics', name: 'All topics' }].concat(fetchedTags)"
      [btnBorderBottomId]="selectedTagId"
      [btnBorderBottom]="true"
    ></app-tag-list>
    <!-- </div> -->
  </div>
</div>

<!-- <div style="margin-top: 20px;">{{tagListDivScrollLeft}}</div> -->
<hr />
<div class="bootstrap-wrapper">
  <div class="container">
    <div
      class="all-topics-container"
      style="
        align-items: center;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
      "
    >
      <h1 style="line-height: 3.4"><strong>Explore topics</strong></h1>

      <!-- <div class="example-form-field-wrapper"> -->
      <mat-form-field class="example-form-field">
        <mat-label></mat-label>
        <input
          matInput
          type="text"
          placeholder="Search"
          class="example-input"
        />
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- </div>
</div> -->
