<div [ngClass]="{ 'all-categories': !btnHeight }">
  @for (item of tags; track $index) {
  <button
    [id]="item.id"
    mat-flat-button
    color="accent"
    class="category-button"
    [style.height]="btnHeight"
    [ngClass]="{
      'button-border-bottom': btnBorderBottomId
        ? btnBorderBottomId == item.id
        : btnBorderBottom
        ? tags[0].id == item.id
        : false
    }"
    (click)="navigateTo(item)"
  >
    @if (btnHeight) {<small>
      {{ item.name }}
    </small>
    } @else {
    {{ item.name }}
    } @if(btnBorderBottom && tags[0].id == item.id) {

    <mat-icon
      class="material-icons"
      [ngClass]="{ 'material-icons-outlined': btnBorderBottomId }"
    >
      topics
    </mat-icon>
    }
  </button>
  }
</div>
