.category-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30%;
  // background-color: gold;
  // background-color: map-get($map: $theme , $key: $mat-accent);
}

.button-border-bottom {
  border-block-end: revert;
  border-block-color: red;
  border-bottom-width: medium;
}

.all-categories {
  display: block;
  // margin-bottom: 10px;
}

.all-categories .category-button {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  // border-radius: 20%;
}
