<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>
<p class="scroll-top-para">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, repudiandae
  quia. Veniam amet fuga, eveniet velit ipsa repudiandae nemo? Sit dolorem
  itaque laudantium dignissimos, rerum maiores nihil ad voluptates nostrum.
</p>

<button class="scroll-top-button" *ngIf="isShow" (click)="gotoTop()">👆</button>
