<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="../../../blogs">Blogs</a></li>
  <li class="breadcrumb-item active">Blog-View</li>
</ol>

<div class="container">
  @if (postWithTags.post) {
  <mat-card class="blog-post">
    <mat-card-header class="blog-post-header">
      <mat-card-title class="blog-post-title">{{
        postWithTags.post.title
      }}</mat-card-title>
      <div class="blog-post-meta">
        <div mat-card-avatar class="post-avatar" mat-card-sm-image>
          @if (postWithTags.post.author.startsWith("Anuran")) {
          <img
            src="https://s.gravatar.com/avatar/78b7529fba9fea752d845d768d54c033?s=80"
          />
          }
        </div>
        <div class="post-author-time">
          <div class="post-author">{{ postWithTags.post.author }}</div>
          <mat-card-subtitle class="post-time">
            <span class="post-reading-time"
              >{{
                blogUtil.calculateReadingTime(postWithTags.post.content)
              }}
              min read</span
            >
            <span><small>-</small></span>
            <span class="post-date">{{
              blogUtil.formatDate(postWithTags.post.date)
            }}</span>
          </mat-card-subtitle>
        </div>
      </div>
      <div class="blog-post-actions">
        <!-- Display actions here -->
        <div class="actions-fade-line"></div>
        <div class="actions-line">
          <div class="action-line-left">
            <button mat-button>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <span class="action-count"><small>100</small></span>
            <button mat-button (click)="scrollTo('commentz')">
              <mat-icon>comment</mat-icon>
            </button>
            <span class="action-count"><small>15</small></span>
          </div>
          <div class="action-line-right">
            <button mat-button>
              <mat-icon>share</mat-icon>
            </button>
            <span class="action-count"><small>50</small></span>

            <button mat-button>
              <mat-icon>bookmark</mat-icon>
            </button>
            <span class="action-count"><small>20</small></span>
          </div>
        </div>
        <div class="actions-fade-line"></div>
      </div>
    </mat-card-header>
    <mat-card-content class="blog-post-content">
      <!-- <p
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(toHtml(post.content))"
      ></p> -->
      <p [innerHTML]="safeContent$.asObservable() | async"></p>
    </mat-card-content>
    @if (postWithTags.tags) {
    <div class="blog-tags">
      <app-tag-list [tags]="postWithTags.tags"></app-tag-list>
    </div>
    }
    <mat-card-header class="blog-post-header">
      <div class="blog-post-actions">
        <div class="actions-line">
          <div class="action-line-left">
            <button mat-button>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <span class="action-count"><small>100</small></span>
            <button mat-button (click)="scrollTo('commentz')">
              <mat-icon>comment</mat-icon>
            </button>
            <span class="action-count"><small>15</small></span>
          </div>
          <div class="action-line-right">
            <button mat-button>
              <mat-icon>share</mat-icon>
            </button>
            <span class="action-count"><small>50</small></span>

            <button mat-button>
              <mat-icon>bookmark</mat-icon>
            </button>
            <span class="action-count"><small>20</small></span>
          </div>
        </div>
      </div>
    </mat-card-header>
  </mat-card>

  <hr style="margin-top: 40px; width: 100%" />
  <!-- Comments Section -->
  <section id="commentz" class="comments-section">
    <div style="display: flex; justify-content: space-between">
      <h2 style="font-weight: bold; margin-right: 20px">
        Comments ({{ totalComments }})
      </h2>
      @if(isHidden) {
      <button
        mat-button
        color="primary"
        style="width: fit-content"
        (click)="scrollTo('commentz')"
      >
        Show Comments
      </button>
      } @else {
      <button mat-button color="primary" (click)="isHidden = true">
        Hide Comments
      </button>
      }
    </div>
    <app-comments
      *ngIf="loadComments"
      [sourceApp]="sourceApp"
      [sourceId]="postWithTags.post.id"
      [isHidden]="isHidden"
      [ngClass]="{ 'hide-comments': isHidden }"
      (commentsLoaded)="commentsLoadedCB($event, 'commentz')"
    ></app-comments>
  </section>
  <!-- <app-scroll-top-button></app-scroll-top-button> -->
  <button
    class="scroll-top-button"
    *ngIf="scrollService.hasScrolledToHeight(200) | async"
    (click)="scrollService.scrollToTop(74)"
    [matTooltip]="'Back to Top'"
    matTooltipPosition="above"
    [matTooltipShowDelay]="1000"
    [matTooltipHideDelay]="2000"
    [matTooltipDisabled]="false"
  >
    👆
  </button>
  }
  <div style="height: 100px"></div>
</div>
