.container {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  width: 100%;
  margin-left: 10px;
}

.blog-post {
  margin-bottom: 40px;
  max-width: 680px;
  // width: 100%;
  box-shadow: none;
  // background-color: snow;
}

.blog-tags {
  margin-top: 60px;
  // margin-bottom: 10px;
  max-width: 680px;
  width: 100%;
  // box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  // background-color: snow;
}

.blog-post-header {
  display: flex;
  flex-direction: column;
}

.blog-post-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}

.blog-post-meta {
  display: flex;
  flex-direction: row;
  // align-items: center;
  margin-top: 30px; //8px;
  margin-bottom: 30px;
  // font-size: smaller;
  // font-style: italic;
}

.post-author-time {
  display: block;
  margin-left: 10px;
}

.post-author-time .post-time {
  font-size: small;
  // font-weight: lighter;
}

.post-date {
  margin-left: 5px;
  margin-right: 5px;
}

.post-reading-time {
  // margin-left: 5px;
  margin-right: 5px;
  // color: #666;
  // cursor: pointer;
}

.blog-post-actions {
  margin-bottom: 30px;
  position: relative; /* Added for positioning fade lines */
}

.actions-line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: 10px;
  justify-content: space-between;
}
.action-line-left {
  justify-items: left;
  // width: 50%;
}
.action-line-right {
  justify-items: right;
  // width: 50%;
}

.actions-line button {
  height: 30px;
  min-width: fit-content;
  margin-right: 15px;
}

.actions-line mat-icon {
  margin-right: 5px;
}

.action-count small {
  margin-right: 15px;
}

.mat-icon {
  font-size: 18px; /* Adjust the font size as needed */
  opacity: 0.7; /* Adjust the opacity to make it lighter */
  height: 18px;
  width: 18px;
  line-height: 16px;
}

.actions-fade-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
}

.blog-post-content {
  line-height: 1.6;
}

.blog-post-content p {
  font-size: 16px;
  // line-height: 1.6;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

/* Ensure the parent p tag can accommodate the absolutely positioned image */
// .blog-post-content ::ng-deep p {
//   // position: relative; /* Make p a positioned element */
//   margin: 0; /* Remove default margin if necessary */
//   padding: 0; /* Remove default padding if necessary */
//   overflow: hidden;
// }

/* Style the img to be full viewport width */
// .blog-post-content ::ng-deep p > img {
//   display: block;
//   width: calc(100vw + 2 * 16px);
//   max-width: none;
//   margin-left: calc(-50vw + 50% - 16px);
//   height: auto;
// }
.blog-post-content ::ng-deep p > img {
  display: block; /* Ensure image is treated as a block element */
  // width: 100vw; /* Full viewport width */
  max-width: none; /* Remove max-width restrictions */
  margin-left: 50%; /* Move to the middle of the viewport */
  transform: translateX(-50%); /* Center the image */
  height: auto; /* Maintain aspect ratio */
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 0;
  overflow: hidden; /* Ensure the image stays within the rounded border */
}

.post-avatar img {
  width: 100%;
  height: auto;
}

.comments-section {
  margin-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: white;
}

.scroll-top-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 680px) {
  .blog-post {
    width: 100%;
  }

  .blog-post-content ::ng-deep img {
    width: 100%;
  }
}

@media (min-width: 680px) {
  .blog-post {
    max-width: 680px;
  }
}
