<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="../../../blogs">Blogs</a></li>
  <li class="breadcrumb-item active">Blog-View</li>
</ol>

<div class="container">
  @if (post) {
  <mat-card class="blog-post">
    <mat-card-header class="blog-post-header">
      <mat-card-title class="blog-post-title">{{ post.title }}</mat-card-title>
      <div class="blog-post-meta">
        <div mat-card-avatar class="post-avatar" mat-card-sm-image>
          @if (post.author.startsWith("Anuran")) {
          <img
            src="https://s.gravatar.com/avatar/78b7529fba9fea752d845d768d54c033?s=80"
          />
          }
        </div>
        <div class="post-author-time">
          <div class="post-author">{{ post.author }}</div>
          <mat-card-subtitle class="post-time">
            <span class="post-reading-time"
              >{{ blogUtil.calculateReadingTime(post.content) }} min read</span
            >
            <span><small>-</small></span>
            <span class="post-date">{{ blogUtil.formatDate(post.date) }}</span>
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="blog-post-content">
      <!-- <p
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(toHtml(post.content))"
      ></p> -->
      <p [innerHTML]="safeContent$.asObservable() | async"></p>
    </mat-card-content>
  </mat-card>

  @if (isLoadingResults) {
  <div class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  } @if (feedback) {
  <div class="alert alert-{{ feedback.type }} m-2">
    {{ feedback.message }}
  </div>
  } }

  <hr style="margin-top: 40px; width: 100%" />
  <!-- Comments Section -->
  <section class="comments-section">
    <h2 style="font-weight: bold">Comments</h2>
    <!-- Display comments here -->
    <mat-list>
      <mat-list-item
        *ngFor="let comment of comments"
        style="margin-bottom: 10px"
      >
        <mat-card>
          <div mat-line>
            <small
              ><strong>{{ comment.author }}</strong> on
              {{ comment.date }}</small
            >
          </div>
          <div mat-line>{{ comment.text }}</div>
        </mat-card>
      </mat-list-item>
    </mat-list>

    <hr />
    <!-- Add comment form -->
    <div class="add-comment-form">
      <h3 style="font-weight: bold">Add a Comment</h3>
      <form (ngSubmit)="submitComment()">
        <mat-form-field style="width: 100%">
          <mat-label>Your Name</mat-label>
          <input
            matInput
            placeholder="Your Name"
            [(ngModel)]="newComment.author"
            name="author"
            required
          />
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Your Comment</mat-label>
          <textarea
            matInput
            placeholder="Your Comment"
            rows="3"
            [(ngModel)]="newComment.text"
            name="comment"
            required
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </section>
</div>
