.banner {
  background: linear-gradient(to right, #db6b2f 0%, gold 100%, #e53797 100%);
}
.banner-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 80px;
}
.banner-left-head {
  width: 50%;
}

.course {
  text-align: center;
  // width: 390px;
  margin: 40px auto;
}

.course-thumbnail {
  width: 150px;
  margin: 0px auto 0 auto;
  display: block;
}

.scrolling-container {
}

.description-cell {
  text-align: left;
  margin: 10px auto;
}

.collapsed-detail {
  display: none;
}

.duration-cell {
  text-align: center;
}

.duration-cell mat-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
  // width: 390px;
  margin-left: auto;
  margin-right: auto;
  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

mat-paginator {
  // width: 390px;
  padding-bottom: 10px;
  margin-bottom: 100px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.mat-column-seqNo {
  width: 32px;
  border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-description {
  padding-left: 20px;
  text-align: left;
}

.mat-column-duration {
  font-style: italic;
}

.handset-portrait .banner-left-head {
  width: 100%;
}

.handset-portrait .banner-right-head {
  width: 100%;
}

.handset-portrait .banner-header {
  // padding: 0 60px;
  flex-direction: column;
}

@media (max-width: 400px) {
  .course {
    width: 100%; //calc(100% - 20px);
  }
  .lessons-table {
    width: 100%;
  }

  mat-paginator {
    width: 100%;
  }
}
