<div
  class="outermost-container"
  [ngClass]="{ 'handset-portrait': handsetPortrait }"
>
  <div class="banner">
    <!-- <div class="bootstrap-wrapper">
    <div class="container"> -->
    <!-- <div class="banner-header" style="height: fit-content;"> -->
    <div class="banner-header">
      <div class="banner-left-head course-header col-md-8 order-md-1">
        <h1 class="course-title-header">{{ course?.description }}</h1>
        <div class="course-description-header">
          {{ course?.longDescription }}
        </div>
        <div class="course-rate-enrollment banner-text-small">
          <mat-icon>visibility</mat-icon><span>&nbsp;</span>
          <div class="course-enrollment">50,000 views</div>
        </div>
        <!-- <span class="course-creator-span">
            <span class="banner-text-small">Created by </span>
            <span class="banner-text-small">{{ course.author }}</span>
          </span> -->
        <div class="course-meta banner-text-small">
          <mat-icon>new_releases</mat-icon><span>&nbsp;</span>
          <div class="course-last-updated">Available from 05/2024</div>
          <mat-icon>language</mat-icon><span>&nbsp;</span>
          <div class="course-locale">English</div>
        </div>
      </div>
      <div class="banner-right-head col-md-4 order-md-2" style="height: auto">
        <mat-card class="course-preview-card mat-elevation-z7">
          <img
            mat-card-image
            class="preview-card-image"
            [src]="course.iconUrl"
          />
          @if (course.price > 0) {
          <span class="preview-card-gradient"></span>
          <span class="preview-card-play-button">
            <mat-icon [inline]="true" class="play-icon-large" color="accent"
              >play_circle</mat-icon
            >
          </span>
          <span class="preview-card-preview-text" (click)="showPreview()"
            >Preview this course</span
          >
          }

          <div class="sidebar-purchase-container" *ngIf="!handsetPortrait">
            <ng-container *ngTemplateOutlet="purbox"></ng-container>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- </div>
</div> -->

  <ng-template #purbox>
    <div class="purchase-box">
      <div class="purchase-section-container">
        <div class="buy-box-main">
          <div class="buy-box-item">
            <div class="base-price-text heading-xl">
              @if (course.price > 0) {
              <span>{{
                course.price | currency : "INR" : true : "1.0-2"
              }}</span>
              }@else {
              <span>Free</span>
              }
            </div>
            @if (course.price > 0) {
            <div class="base-price-text original-price-text text-sm">
              <span
                ><s>{{
                  (course.price * 100) / 25 | currency : "INR" : true : "1.0-2"
                }}</s></span
              >
            </div>
            <div class="base-price-text discount-percent-text text-sm">
              <span>75% off</span>
            </div>
            }
          </div>
          <div class="buy-box-add-to-cart">
            @if (course.price > 0) { @if (cartContainsCourse) {
            <button
              mat-flat-button
              color="primary"
              class="buy-box-add-to-cart-btn"
              (click)="goToCart()"
            >
              Go to cart
            </button>
            } @else {
            <button
              mat-flat-button
              color="primary"
              class="buy-box-add-to-cart-btn"
              (click)="addToCart(course)"
            >
              Add to cart
            </button>
            } } @else {
            <button
              mat-flat-button
              color="primary"
              class="buy-box-add-to-cart-btn"
              (click)="navigateWithQueryParams()"
            >
              Go to course
            </button>
            }
          </div>
          @if (course.price > 0) {
          <div class="buy-box-by-now">
            <button
              mat-flat-button
              class="buy-box-add-to-cart-btn buy-box-buy-now-btn"
            >
              Buy now
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </ng-template>

  <!-- <ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="../../courses">Courses</a></li>
  <li class="breadcrumb-item active">Course-View</li>
</ol> -->

  <!-- <div class="bootstrap-wrapper">
  <div class="container"> -->

  <div class="course-landing">
    <div class="course-landing-main">
      <div class="landing-purchase-container" *ngIf="handsetPortrait">
        <ng-container *ngTemplateOutlet="purbox"></ng-container>
      </div>
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>

      <div class="course-outcome">
        <h2>What you'll learn</h2>
      </div>

      <div class="course-content">
        <h2 class="course-content-header">Course content</h2>
      </div>
      <div class="course-content-container">
        <table
          mat-table
          class="lessons-table mat-elevation-z8"
          matSort
          matSortDisableClear
          matSortActive="seqNo"
          matSortDirection="asc"
          [dataSource]="lessons"
          multiTemplateDataRows
        >
          <ng-container matColumnDef="seqNo" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>

            <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </th>

            <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Duration</th>

            <td class="duration-cell" mat-cell *matCellDef="let lesson">
              {{ lesson.duration }}
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let lesson" colspan="4">
              {{ lesson.longDescription }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>

          <tr
            mat-row
            (click)="onToggleLesson(lesson)"
            *matRowDef="let lesson; columns: displayedColumns"
          ></tr>

          <tr
            mat-row
            *matRowDef="let lesson; columns: ['expandedDetail']"
            [class.collapsed-detail]="lesson != expandedLesson"
          ></tr>
        </table>
      </div>

      <!-- <mat-paginator
          class="mat-elevation-z8"
          [length]="course?.lessonsCount"
          [pageSize]="3"
          [pageSizeOptions]="[3, 5, 10]"
        >
        </mat-paginator> -->
    </div>
    <div class="course-landing-spacer" *ngIf="!handsetPortrait">
      <mat-card class="course-preview-card mat-elevation-z7"> </mat-card>
    </div>
  </div>

  <!-- </div>
</div> -->
</div>
